.header {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 100;

    padding: 15px 20px;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

    &__left,
    &__center,
    &__right,
    &__search,
    &__info {
        display: flex;
        align-items: center;
    }

    &__left {
        justify-content: space-evenly;

        & > img {
            height: 40px;
        }
    }

    &__search {
        background-color: #f0f2f5;
        padding: 10px;
        border-radius: 30px;

        & > input {
            background-color: transparent;
            border: none;
            margin-left: 5px;
            outline-width: 0;

            // &:focus {
            //     outline: none;
            // }
        }
    }

    &__option {
        margin: 4px;
        padding: 0 40px;

        & > .MuiSvgIcon-root {
            color: gray;
        }

        &:hover {
            background-color: #f0f2f5;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    &__info {
        & > h4 {
            margin-left: 5px;
        }
    }
}
