.contacts {
  width: 25%;
  margin: 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__options {
    display: flex;
    justify-content: flex-end;
  }
}
